<div class="bg-gray-900 container mx-auto content-center   py-4 flex">
    <div class="sm:px-32 text-white">
        <p class="text-3xl">Truy cập StockX. ngay bây giờ</p>

        <div class="sm:grid sm:grid-cols-6 px-5 gap-20">
            <div class="py-5">
                <p class="font-bold">Air Jordan</p>
                <P class="text-xs py-2">Air Jordan 1</P>
                <P class="text-xs">ngày phát hành Air Jordan </P>
                <P class="text-xs py-2">Jordans cho phụ nữ</P>
                <p class="text-xs">Air Jordan 11</p>
                <p class="text-xs py-2">Air Jordan 4</p>
                <p class="text-xs">Jordan 1 Mid</p>
            </div>

            <div class="py-5">
                <p class="font-bold">Yeezy</p>
                <P class="text-xs py-2">Yeezy Boost 350</P>
                <P class="text-xs">Yeezy Boost 350 V2</P>
                <P class="text-xs py-2">Yeezy Boost 700</P>
                <p class="text-xs">Yeezy Boots</p>
                <p class="text-xs py-2">Yeezy Slides</p>
                <p class="text-xs">Yeezy Foam RNNR</p>
            </div>

            <div class="py-5">
                <p class="font-bold">Cập nhật gần đây</p>
                <P class="text-xs py-2">Giày tốt nhất mở bán lại</P>
                <P class="text-xs">StockX: Authentic</P>
                <P class="text-xs py-2">Nike Blazers Under $100</P>
                <p class="text-xs">Xbox Series X</p>
                <p class="text-xs py-2">PS5</p>
                <p class="text-xs">Kanye West Hoodies</p>
            </div>

            <div class="py-5">
                <p class="font-bold">Ngày phát hành</p>
                <P class="text-xs py-2">Jordan 2 Maison Château Rouge</P>
                <P class="text-xs">Nike SB Dunk Low Phillies</P>
                <P class="text-xs py-2">Nike Air Force 1 Low Fresh</P>
                <p class="text-xs">Jordan 1 Low Travis Scott</p>
                <p class="text-xs py-2">Jordan 1 High Newstalgia</p>
                <p class="text-xs">Nike Air Force 1 Low White</p>
            </div>

            <div class="py-5">
                <p class="font-bold">Quần áo</p>
                <P class="text-xs py-2">Supreme</P>
                <P class="text-xs">Essentials</P>
                <P class="text-xs py-2">Chrome Hearts</P>
                <p class="text-xs">Vlone</p>
                <p class="text-xs py-2">AMIRI Jeans</p>
                <p class="text-xs">Off-White Hoodies</p>
            </div>

            <div class="py-5">
                <p class="font-bold">Nike</p>
                <P class="text-xs py-2">Nike Dunk</P>
                <P class="text-xs">Nike Blazer</P>
                <P class="text-xs py-2">Nike Air Force 1</P>
                <p class="text-xs">Nike Air Max 1</p>
                <p class="text-xs py-2">Nike SB Dunk Low</p>
                <p class="text-xs">Nike Air Max 90</p>
            </div>
        </div>

        <hr>
        <div class="sm:grid sm:grid-cols-5 px-5 gap-20 pt-5">
            <div>
                <button class="border border px-2 py-2">Vietnam | English | USD</button>
            </div>
            <div>
                <p>Theo dõi chúng tôi trên mxh</p>
            </div>
            <div>
                <p>App của chúng tôi</p>
            </div>
            <div>
                <p>Công nghệ hỗ trợ</p>
            </div>
            <div>
                <p>Tự hào được xây dựng tại Detroit</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-black container mx-auto content-center sm:px-32 px-5 text-white   py-4 flex">
    <div class="space-x-[300px] flex flex-row">
        <div class="text-xs">
            <p> HELP | HOW IT WORKS |PRIVACY | TERMS |JOBS |CONTACT |PRODUCT SUGGESTION | PRESS | COOKIE SETTINGS
            </p>
            <p>EN EN-GB IT DE FR FR-CA ZH-CN ZH-TW JA KO ES-MX ES-US ES-ES</p>
        </div>
        <p class="text-xs"> <i> ©2022 StockX. All Rights Reserved. by @Nguyen Do Long </i></p>
    </div>
</div>