 <div class="mx-auto justify-center content-center items-center sticky z-10 top-0 w-full bg-white  py-4 flex">
        <div class="px-2 w-[150px]"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmRhVFxwoJHb7ujdWaDH5R3Ryui9NfhyI8kiK_mZOj&s" alt=""></div>
        <div class="border content-center border-black hidden sm:block p ">
            <div></div><input placeholder="search for brand, color, etc." class="sm:min-w-[350px] h-[45px]   border border-black"
                    type="text">
            </div>
            <div class="px-1 hidden sm:block">
                <button>
                <img width="30" height="30" src="https://img.icons8.com/ios/50/search--v1.png" alt="search--v1"/>
            </button>
            </div>
            <div class="sm:grid sm:grid-cols-4 font-semibold gap-2 pl-2  hidden sm:block">
                    <a href="">New</a>
                    <a href="">About</a>
                    <a class="px-2" href="">Help</a>
                    <a href="">Sell</a>
            </div>
            <div class="hidden sm:block pr-2">
                <img width="24" height="24" src="https://img.icons8.com/material-sharp/24/bell.png" alt="bell"/>
            </div>
            <div class="px-2 hidden sm:block">
                <button class="hover:bg-black hover:text-white px-3  py-1 border border-black font-semibold">Login</button>
                <button class="bg-slate-700 text-white hover:bg-black px-3  py-1 border border-black font-semibold">Sign up</button>
            </div>
            
        </div>