        <div class="container mx-auto content-center text-left px-64 pb-5 flex pt-3 pt-5 flex-col">
            <div class="flex flex-row items-center">
                <p class="text-xs text-slate-500">Home / Home / Sneakers / Nike / Dunk / Low /</p>
                <p class="text-xs px-2"> <u>Nike Dunk Low Retro White Black Panda (2021) </u> </p>
            </div>
            <p class="font-bold text-2xl">Nike Dunk Low Retro</p>
            <p class="text-slate-600">White Black Panda (2021)</p>
            <div class="flex flex-row pt-2">
                <div class="pr-2">
                    <button class="px-1 py-1 font-semibold text-xs bg-slate-200">Verified Authentic</button>
                </div>
                <div>
                    <button class="px-1 py-1 font-semibold text-xs bg-slate-200">condition: New</button>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-5 pt-5">
                <div>
                    <img src="images/detailsp1.png" alt="">
                </div>
                <div>
                    <div class="pb-5">
                        <p class="bg-slate-200 text-xl px-2 py-2">1681 Sold in Last 3 Days!</p>
                    </div>
                    <div class="px-5 py-3 border border-gray-400">
                        <div class="border px-3 py-2 border-black">
                            <p>Size:</p>
                        </div>
                        <div class="grid grid-cols-2 pt-5 gap-2">
                            <Button class="border border-black font-bold px-2 py-3">Place Bird</Button>
                            <button class="bg-green-800 text-white font-bold">Buy for $161</button>
                        </div>
                        <div class=" pt-5">
                            <div class="py-5">
                                <hr>
                            </div>
                            <div class="text-center">
                                <button class="font-bold text-green-800">Sell for $192 or Ask for more</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 items-center pt-5 ">
                        <div class="flex flex-col">
                        <p>Last sale:</p>
                        <p class="font-bold text-2xl">$186</p>
                        <p class="text-red-600 font-semibold">▼-$34(-15%)</p>
                    </div>
                    <div class="grid grid-cols-3 gap-1 ">
                        <div>
                            <button class="border font-bold text-sm px-1 py-1 border-black">View Ask</button>
                        </div>
                        <div>
                            <button class="border font-bold text-sm  px-1 py-1  border-black">View Bids</button>
                        </div>
                        <div>
                            <button class="border font-bold text-sm   px-1 py-1  border-black">View Sales</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="py-5">
            <hr>
        </div>
        <div>
            <p class="font-bold">Related Products</p>
            <div class="grid grid-cols-5 gap-4 pt-10">
                <div class="flex flex-col border px-3 py-1 border-gray-100">
                    <div class="">
                        <img src="images/blackpanda.png" alt="">
                    </div>
                    <p class="text-sm">Nike Dunk Low ReTro</p>
                    <p class="text-sm">White Black Panda (2021)</p>
                    <p class="text-xs pt-3 text-gray-900">Lowest Ask</p>
                    <p class="font-bold">$159</p>
                    <div class="pt-2">
                        <button class="bg-gray-200 text-sm px-1 py-1">1554 sold</button>
                    </div>
                </div>

                <div class="flex flex-col border px-3 py-1 border-gray-100">
                    <div class="">
                        <img src="images/slide onyx.png" alt="">
                    </div>
                    <p class="text-sm">Addidas Yeezy Slide Onyx</p>
                    <p class="text-sm"> &nbsp</p>
                    <p class="text-xs pt-3 text-gray-900">Lowest Ask</p>
                    <p class="font-bold">$93</p>
                    <div class="pt-2">
                        <button class="bg-gray-200 text-sm px-1 py-1">1100 sold</button>
                    </div>
                </div>

                <div class="flex flex-col border px-3 py-1 border-gray-100">
                    <div class="">
                        <img src="images/bleached co.png" alt="">
                    </div>
                    <p class="text-sm">Jordan 1 Retro High OG</p>
                    <p class="text-sm">Bleached Coral</p>
                    <p class="text-xs pt-3 text-gray-900">Lowest Ask</p>
                    <p class="font-bold">$175</p>
                    <div class="pt-2">
                        <button class="bg-gray-200 text-sm px-1 py-1">840 sold</button>
                    </div>
                </div>

                <div class="flex flex-col border px-3 py-1 border-gray-100">
                    <div class="">
                        <img src="images/slide pure.png" alt="">
                    </div>
                    <p class="text-sm">adidas Yeezy Slide</p>
                    <p class="text-sm">Pure (Restock Pair)</p>
                    <p class="text-xs pt-3 text-gray-900">Lowest Ask</p>
                    <p class="font-bold">$117</p>
                    <div class="pt-2">
                        <button class="bg-gray-200 text-sm px-1 py-1">897 sold</button>
                    </div>
                </div>

                <div class="flex flex-col border px-3 py-2 border-gray-100">
                    <div class="">
                        <img src="images/foam nrn.png" alt="">
                    </div>
                    <p class="text-sm">adidas Yeezy Foam RNR</p>
                    <p class="text-sm">Onyx</p>
                    <p class="text-xs pt-3 text-gray-900">Lowest Ask</p>
                    <p class="font-bold">$153</p>
                    <div class="pt-2">
                        <button class="bg-gray-200 text-sm px-1 py-1">805 sold</button>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div>
            <p class="font-bold py-5">Product Details</p>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <table>
                    <tr class="">
                        <td>Style</td>
                        <td class="font-bold  pl-9">DD1391-100</td>
                    </tr>
                    <tr>
                        <td>Colorway</td>
                        <td class="font-bold  pl-9">
                            WHITE/BLACK</td>
                    </tr>
                    <tr>
                        <td>Retail Price</td>
                        <td class="font-bold  pl-9 ">
                            $110</td>
                    </tr>
                    <tr>
                        <td>Release Date</td>
                        <td class="font-bold pl-9">
                            03/10/2021</td>
                    </tr>
                </table>
            </div>

            <div>
                <p class="font-bold">Product Description</p>
                <p class="text-sm">From the school-spirited College Colors Program to the vibrant Nike CO.JP collection, Nike Dunks have seen many colorways since the design’s inception in 1985. But with each new colorway, the Dunk’s classic color-blocking has remained in some capacity. Nike put its timeless color-blocking to work with the Nike Dunk Low Retro White Black.

                    The upper Nike Dunk Low Retro White Black is constructed of white leather with black leather overlays and Swooshes. Classic Nike branding is featured on the nylon tongue, nodding to traditional Dunk design elements. A white midsole and black outsole completes the design.
                    
                    The Nike Dunk Low Retro White Black released in January of 2021 and retailed for $100.</p>
            </div>
        </div>
        <div class="py-5">
            <hr>
        </div>
        <p class="font-bold">12-Month Historical</p>
        <div class="grid grid-cols-3 font-bold items-center gap-4">
            <div class="bg-slate-200 py-3 px-3 ">
                <p>-- - --</p>
                <p class="text-sm">12-Month Trade Range</p>
            </div>
            <div class="bg-slate-200 py-3 px-3 ">
                <p>$171 - $201</p>
                <p class="text-sm">All-Time Trade Range</p>
            </div>
            <div class="bg-slate-200 py-3 px-3 ">
                <p>8%</p>
                <p class="text-sm">Volatility</p>
            </div>
            <div class="bg-slate-200 py-3 px-3 ">
                <p>146,497</p>
                <p class="text-sm">Number of Sales</p>
            </div>
            <div class="bg-slate-200 py-3 px-3 ">
                <p>69%</p>
                <p class="text-sm">Price Premium</p>
            </div>
            <div class="bg-slate-200 py-3 px-3 ">
                <p>$251</p>
                <p class="text-sm">Average Sale Price</p>
            </div>
        </div>
    </div>